html, body {
  padding: 0;
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  background: #f2f2f2 ;
  font-family: Poppins;

}

#root {
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* ::-webkit-scrollbar{
  width: 0;
}

button {
  font-family: inherit;
}
